#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.quote-box {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width:800px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  text-align: center;

}
.quote-wrapper{
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width:800px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  padding: 70px 0;
  text-align: center;
  height: 300px;
}
.buttons {
  text-align: center;
}

h2{
  text-align: center;
}